.camp-board-main_tab{
    background: rgb(46, 46, 46);
    margin: 0;
}

.title{
    padding: 4vw;
    /* align-items: center; */
    /* height: width; */
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    background: #cf4522;
    color: rgb(255, 255, 255);
}

.search-wrapper{
    /* padding: 1vw; */
    border-bottom: 1px solid #ffffff;
    background: rgb(46, 46, 46);
}

.todos-wrapper{
    background: rgb(46, 46, 46);
    color: rgb(253, 253, 253);
}